/* Forgot Password */
form {
    margin-top: 15px;
}

form input {
    margin-bottom: 15px;
}

form button {
    margin-top: 10px;
}

p {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
